@page "/user/add"
@using FinanceMan.Shared.Dtos
@inject HttpClient httpClient
@inject NavigationManager NavMan
<PageTitle>Creating User</PageTitle>
<h3>CreateUser</h3>

<MudForm @ref="form" >
    <MudButton OnClick="DoSomething"></MudButton>
</MudForm>

@code {
    private MudForm form;
    private CreateUserDto userDto { get; set; }

    protected override void OnInitialized()
    {
        userDto = new()
        {
            Email = "test@gmail.com",
            UserName = "testUser"
        };
    }

    private async Task DoSomething()
    {
        var cl = await httpClient.PostAsJsonAsync("/api/register", userDto, default);
        var response = cl.IsSuccessStatusCode;

        if (!response)
            NavMan.Refresh();
        NavMan.NavigateTo("/", true);
    }
}
